<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abooc.baidu_image_api">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
